	<ng-include src="'header.html'"></ng-include>	

  <ng-include src="'modales.html'"></ng-include>  

	<div class="container">




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alumno">Añadir</button>

  <br></br>

	 <table class="table table-condensed table-hover ">
    
        <tbody>



            <thead>

            <tr>

            <th>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>

            <th>Curso <a ng-click="sort_by('curso__nombre',currentPage)"><i class="icon-sort"></i></a></th>
            <th>Profesor <a ng-click="sort_by('profesor__nombre',currentPage)"><i class="icon-sort"></i></a></th>
         

            </tr>

            </thead>

 				 <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>

              <tr  ng-repeat="c in cursos " ts-repeat>



                <td>{{c.id}} </td>
                <td>{{c.curso__nombre}} </td>
                <td>{{c.profesor__user__first_name}} </td>
              
                
  
               

                </td>




              </tr>


        </tbody>


        </table>


       </div>