<div id="alumno" class="modal fade" role="dialog">

  <div class="modal-dialog modal-lg">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Periodo</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="saveContact(index,numberPage)">


        <div class="col-md-4">
        <label>Usuario</label>
        
        <select ng-model="model.user__first_name" class="form-control" ng-options="data.id as data.user__first_name for data in alumnos" required =""></select>

        </div>

        <div class="col-md-4">
        <label>Nivel Educativo</label>
        <input type="text" class="form-control" ng-model="model.empresa" >
        </div>

        <div class="col-md-4">
        <label>Año</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>

        <div class="col-md-4">
        <label>Periodo</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>

        <div class="col-md-4">
        <label>Grado</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>

        <div class="col-md-4">
        <label>Seccion</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>

        <div class="col-md-4">
        <label>Promedio</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>

        <div class="col-md-4">
        <label>Puesto</label>
        <input type="text" class="form-control" ng-model="model.nivel"  >
        </div>





</div>
</div>


      <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>

      </form>



    </div>

  </div>
</div>




<div id="individual" class="modal fade" role="dialog">

  <div class="modal-dialog modal-lg">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Usuario</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="usersave(model)">


        <div class="col-md-4">
        <label>Usuario</label>
        
        <input type="text" class="form-control" ng-model="model.username" required="" >

        </div>

        <div class="col-md-4">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="model.password" required="" >
        </div>

        <div class="col-md-4">
        <label>Apellido Paterno</label>
        <input type="text" class="form-control" ng-model="model.first_name" required="" >
        </div>

        <div class="col-md-4">
        <label>Apellido Materno</label>
        <input type="text" class="form-control" ng-model="model.last_name" required="" >
        </div>

        <div class="col-md-4">
        <label>Nombres</label>
        <input type="text" class="form-control" ng-model="model.nombres" required="" >
        </div>

        <div class="col-md-4">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="model.email" required="" >
        </div>

        <div class="col-md-4">
        <label>Nivel</label>
        <select ng-model="model.nivel" class="form-control" ng-options="data.id as data.nombre for data in niveles" required =""></select>
        </div>

        <div class="col-md-4">
        <label>Colegio</label>
        <select ng-model="model.colegio" class="form-control" ng-options="data.id as data.nombre for data in colegios" required =""></select>
        
        </div>


        <div class="col-md-4">
        <label>DNI</label>
        <input type="text" class="form-control" ng-model="model.dni" required=""  >
        </div>

        <div class="col-md-4">
        <label>Direccion</label>
        <input type="text" class="form-control" ng-model="model.direccion" required="" >
        </div>

        <div class="col-md-4">
        <label>Distrito</label>
        <input type="text" class="form-control" ng-model="model.distrito" required="" >
        </div>

        <div class="col-md-4">
        <label>Telefono</label>
        <input type="text" class="form-control" ng-model="model.telefono" required="" >
        </div>
        <br></br>
        <hr>

        <div class="col-md-4">
       
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>


    






</div>



</div>




      



    </div>

  </div>
</div>


<!--Modal-->


<div id="masivo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Agregar Audiencia</h3>
            </div>

            <div class="modal-body">

            
            <form action="http://localhost:8000/uploaduser/" method="post"  role="form" enctype="multipart/form-data">


           
              <input type="file" required=""  name="process_file">  


            </div>
            
            <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cerrar</button>
            <button class="btn btn-primary" type="submit">Agregar</button>
            </form>
     
        
            </div>
            
            
        
    </div>




<!--Modal-->



<div id="colegio" class="modal fade" role="dialog">

  <div class="modal-dialog modal-sm">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Colegio</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="addcolegio(model)">


        <div class="col-md-12">
        <label>Nombre</label>
        
        <input type="text" class="form-control" ng-model="model.nombre" required="" >

        </div>

        <div class="col-md-12">
        <label>Direccion</label>
        <input type="text" class="form-control" ng-model="model.direccion" required="" >
        </div>

        <div class="col-md-4">
        <br></br>
       
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
        </form>

</div>

</div>
</div>

</div>
</div>

   
    <!--Modal-->

<div id="secciones" class="modal fade" role="dialog">

  <div class="modal-dialog modal-sm">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Seccion</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="addcolegio(model)">


        <div class="col-md-12">
        <label>Seccion</label>
        
        <input type="text" class="form-control" ng-model="model.nombre" required="" >

        </div>

       
        <div class="col-md-4">
        <br></br>
       
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
        </form>

</div>

</div>
</div>

</div>
</div>


   <!--Modal-->

<div id="niveleducativo" class="modal fade" role="dialog">

  <div class="modal-dialog modal-sm">

    <div class="modal-content">

        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Nivel Educativo</h4>
        </div>
        <div class="modal-body">

        <div class="row">

        <form ng-submit="addniveleducativo(model)">


        <div class="col-md-12">
        <label>Inicial</label>
        
        <input type="checkbox"  ng-model="model.inicial"  >

        </div>

        <div class="col-md-12">
        <label>Primaria</label>
        <input type="checkbox"  ng-model="model.primaria"  >
        </div>

        <div class="col-md-12">
        <label>Secundaria</label>
        <input type="checkbox" ng-model="model.secundaria" >
        </div>

        <div class="col-md-4">
        <br>
       
        <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
        </form>

</div>

</div>
</div>

</div>
</div>


<style type="text/css">
    .file{
          padding: 20px;
    }


</style>