  <ng-include src="'header.html'"></ng-include> 

  <div class="container">

  <h4>Secciones Educativas del {{secciondata.grado__nombre}} Grado</h4>

   <table class="table table-condensed table-hover ">
    
        <tbody>

            <thead>

         

            <tr>

              <th>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>
              <th>Seccion <a ng-click="sort_by('first_name',currentPage)"><i class="icon-sort"></i></a></th>
              <th></th>


            </tr>

            </thead>

         <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>


              <tr   ng-repeat="c in secciones " ts-repeat>

                <td>{{c.id}} </td>
                <td>{{c.seccion__nombre}} </td>
                
             
                
      
                <td><a class="btn btn-primary btn-sm" href="#/alumnos/{{c.id}}/{{grado}}/{{nivel}}/{{colegio}}"> Alumnos <i class="fa fa-chevron-right"></i></td>
               

                </td>




              </tr>


        </tbody>


        </table>


       </div>