  <ng-include src="'header.html'"></ng-include> 
    <ng-include src="'modales.html'"></ng-include> 

  <div class="container">

  <div class='row'>

<div class="col-md-2">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#individual">Agregar Usuario</button>

</div>
<div class="col-md-10">


<form action="http://localhost:8000/uploaduser/" method="post"  role="form" enctype="multipart/form-data">

             <div class='row'>

            <div class="col-md-4">
              <input type="file" required=""  name="process_file">
             </div>

             <div class="col-md-8">


             <button type="submit"  class="btn btn-primary" ><i class="fa fa-upload" aria-hidden="true"></i>

             </div> 

             </div>


             </button> 

          </form>

          </div>

          </div>
           
     
<br></br>
   <table class="table table-condensed table-hover ">
    
        <tbody>

            <thead>

            <tr>

                  <th>Id <a ng-click="sort_by('id',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Apellido Paterno <a ng-click="sort_by('last_login',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Apellido Materno <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Nombres <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Email <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Nivel <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Colegio <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>DNI <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Direccion <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Distrito <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  <th>Fecha Nacimiento <a ng-click="sort_by('colegio__nombre',currentPage)"><i class="icon-sort"></i></a></th>
                  


                  <th></th>     

            </tr>

            </thead>

         <tfoot>
                    <td colspan="12">
                      <ul class="pagination" ng-repeat="n in toto">
                      <li ng-class="{active: n-1 == currentPage}"><a href="#" ng-click="setPage()">{[{n}]}</a></li>
                      </ul>
      
                    </td>
                </tfoot>


              <tr   ng-repeat="c in useralumnos " ts-repeat>



      
                <td>{{c.id}} </td>
                <td>{{c.first_name}} </td>
                <td>{{c.last_name}} </td>
                <td>{{c.nombres}} </td>
                <td>{{c.email}} </td>
                <td>{{c.nivel__nombre}} </td>
                <td>{{c.colegio}} </td>
                <td>{{c.dni}} </td>
                <td>{{c.direccion}} </td>
                <td>{{c.distrito}} </td>
                <td>{{c.fnacimiento}} </td>
              

                <td><a class="btn btn-primary btn-sm" href='#/periodos/{{c.id}}'> Periodos <i class="fa fa-chevron-right"></i></a></td>
                           
              </tr>


        </tbody>


        </table>


       </div>


 <style type="text/css">

            [type='file'] {
              -webkit-appearance: none;
              
              color: rgb(63, 86, 161);
            }
            [type='file']::-webkit-file-upload-button {
              border-radius: 3px;
              border: 0;
              background: rgb(51, 122, 183);
              color: white;
              padding: 7px;
              font-family: 'Open Sans', sans-serif;
            }
            [type='file']::-webkit-file-upload-button:active, [type='file']::-webkit-file-upload-button:focus {
              outline: 0;
            }

            </style>
     